<app-navbar></app-navbar>

<h1>PROXIMOS EVENTOS</h1>
<table *ngIf="!isConciertos">
  <tr>
    <th>Grupo</th>
    <th>Empieza</th>
    <th>Acaba</th>
  </tr>
  <tr *ngFor="let concierto of conciertos">
    <td><a (click)="enviarGrupo(concierto.grupo)">{{concierto.grupo.nombre}}</a></td>
    <td>{{concierto.fecha_s}}</td>
    <td>{{concierto.fecha_e}}</td>
    <td><button type="button" (click)="enviarActe(concierto)" name="button">+Info</button></td>
  </tr>
</table>
<h2 *ngIf="isConciertos">No hay conciertos proximos</h2>
<app-acte [concierto]="acteSeleccionar"></app-acte>
<app-grup [grupo]="grupoSeleccionar"></app-grup>
