<div>
<button *ngIf="!isActes" type="button" (click)="callCrearActes()" name="button">crear Actes</button>
<button *ngIf="isActes && isLogged" type="button" routerLink="/add" name="button">+ Añadir Acte</button>
<app-login *ngIf="!isLogged"></app-login>
<app-logout *ngIf="isLogged"></app-logout>
</div>
