div {
  background-color: red;
  display: flex;
  justify-content: space-between;
  width: 98%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
}
button{
  margin-left: 16px;
  zoom: 200%;
}
app-login, app-logout{
  margin-right: 16px;
  zoom: 200%;
}
