<app-navbar></app-navbar>
<div class="">
  <h1>Crear un Nuevo Concierto</h1>

    <label>Inicio</label><br>
    <input type="text"  [(ngModel)]="date_s" value=""><br>
    <label for="">Fin</label><br>
    <input type="text"  [(ngModel)]="date_e"  value=""><br>
    <label for="">Grupo</label><br>
    <select>
      <option *ngFor="let element of grupos" [(ngModel)]="grupo"  value="{{element}}">{{element.nombre}}</option>
    </select>
    <button type="button" (click)="crearActe(element, date_s, date_e)" name="button">crear Acte</button>

</div>
