<div *ngIf="concierto">
  <p><strong>Grupo</strong> {{ concierto.grupo.nombre | uppercase }}<p>
  <p><strong>comienza</strong> {{concierto.fecha_s}}</p>
  <p><strong>acaba</strong> {{concierto.fecha_e}}</p>
  <button type="button" name="button" *ngIf="isLogged">Editar</button>
  <a  routerLink=".." >Close</a>
</div>
